<div class="mainContainer">
  <h1 class="mainTitle">ALGORITMO RSA</h1>
  <mat-card class="mainCard">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Generar Llaves">
        <form class="generalForm">
          <mat-form-field appearance="outline">
            <mat-label>Llave Pública</mat-label>
            <input id="pubKey" matInput placeholder="Genere una llave" [(ngModel)]="this.pubKey" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Llave Privada</mat-label>
            <input id="privKey" matInput placeholder="Genere una llave" [(ngModel)]="this.privKey" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <button mat-raised-button type="button" color="primary" (click)="this.getKeys()">GENERAR</button>
        </form>
      </mat-tab>
      <mat-tab label="Encriptar">
        <form [formGroup]="this.encryptForm" class="generalForm" (ngSubmit)="this.encryptMessage()">
          <mat-form-field appearance="outline">
            <mat-label>Texto a encriptar</mat-label>
            <textarea formControlName="plainText" matInput placeholder="Ingrese un texto"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Llave Pública</mat-label>
            <input formControlName="publicKey"matInput placeholder="Ingrese la llave pública">
            
          </mat-form-field>
          <mat-form-field appearance="outline" >
            <mat-label>Texto encriptado</mat-label>
            <textarea  matInput placeholder="Texto encriptado" [(ngModel)]="this.cryptMess" [ngModelOptions]="{standalone: true}"></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary">ENCRIPTAR</button>
        </form>
      </mat-tab>
      <mat-tab label="Desencriptar">
        <form class="generalForm" [formGroup]="this.decryptForm"(ngSubmit)="this.decryptMessage()">
          <mat-form-field appearance="outline">
            <mat-label>Texto a desencriptar</mat-label>
            <textarea formControlName="cryptText" matInput placeholder="Ingrese un texto"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Llave Privada</mat-label>
            <input formControlName="privateKey" matInput placeholder="Ingrese la llave privada">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Texto desencriptado</mat-label>
            <textarea matInput placeholder="" [(ngModel)]="this.plainMess" [ngModelOptions]="{standalone: true}"></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary">DESENCRIPTAR</button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>